.NavBar {
  background-color: #93cdfa;
  border: 1px solid black;
  padding: 0px 10px;
}

.Active {
  background-color: #dddcdc;
  font-weight: bolder;
  border-radius: 7%;
  color: black;
}

a:hover {
  font-weight: 600;
  color: black;
}

.NavLink {
  padding: 10px;
  color: black;
  margin: auto;
}

.Avatar {
  border-radius: 50%;
  margin: 0px 8px 0px 8px;
  object-fit: cover;
}