.profileImageContainer {
    position: relative;
    display: flex;
    justify-content: center;
  }
  
.profileImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: -30px;
  max-width: 100%;
  }

  .EditLink {
    margin-top: 15px;
    float: left;
    text-align: left;
  }